.container {
  width: 100%;
  padding: 20px 0px 0px 20px;
}

.textField {
  width: 100%;
}

.typography {
  display: flex;
  align-items: center;
}

.customSubheader {
  color: #f09064 !important;
}

.customTitle {
  color: #0767db !important;
}

.form-container {
  margin: 75px 10px 10px 10px;
}

.form-label {
  font-weight: 400;
  margin: 7px 0px;
  font-size: 18px;
  display: block;
}

.form-group {
  display: flex;
  gap: 20px;
}

.delete-button {
  color: red;
}

.submit-button button {
  padding: 10px 20px;
  margin: 10px 0px;
  background-color: #20b2aa;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 3px;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}

.submit-button button:active {
  scale: 0.98;
}

.submit-button .disabled {
  cursor: not-allowed;
  background-color: #20b2abb2;
}
