.container {
  width: 100%;
  padding: 10px 0px 0px 20px;
}

.textField {
  width: 100%;
}

.typography {
  display: flex;
  align-items: center;
}

.customSubheader {
  color: #f09064 !important;
}

.customTitle {
  color: #0767db !important;
}

.list-item {
  flex: 0 1 auto !important;
  -webkit-flex: 0 1 auto !important;
  flex-grow: 0 !important;
  cursor: pointer;
}

.bold-cell {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #20b2aa;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 3px;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}

.submit-btn:active,
.sub-btn:active {
  scale: 0.9 !important;
}

.cancle-button {
  padding: 10px 20px;
  margin: 0px 5px;
  background-color: #f09064;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 3px;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}

.cancle-button:active {
  scale: 0.9;
}
