.container {
  width: 100%;
  padding: 30px 0px 0px 20px;
}

.table-container {
  max-width: 94%;
  margin: auto;
  /* margin-top: 75px; */
}

.textField {
  width: 100%;
}

.pdf {
  display: inline-block;
  padding: 5px 5px 0px 5px;
  margin: auto;
  border-radius: 4px;
  cursor: pointer;
}

.pdf {
  margin-right: 3px;
  background-color: #f1b1b1;
}

.pdf:hover {
  background-color: #f79292;
  transition: all 0.3ms ease-in-out;
}

.dateInp {
  padding-top: 3px !important;
  /* min-width: 100% !important; */
}

.approved {
  background-image: repeating-linear-gradient(
    20deg,
    #25ce0fa1 2px,
    #00ff3791 2px,
    white 4px,
    white 4px
  );
}

.approvedData {
  background-image: repeating-linear-gradient(
    20deg,
    #25ce0f7e 2px,
    #00ff3769 2px,
    white 4px,
    white 4px
  );
}

.cancel {
  background-image: repeating-linear-gradient(
    20deg,
    #ff110082 2px,
    #ff5e0078 2px,
    white 4px,
    white 4px
  );
}

.cancelData {
  background-image: repeating-linear-gradient(
    20deg,
    #ff110056 2px,
    #ff5e0056 2px,
    white 4px,
    white 4px
  );
}

.rows {
  background-image: repeating-linear-gradient(
    20deg,
    #74747456 2px,
    #dadada56 2px,
    white 4px,
    white 4px
  );
}

.discountText {
  color: #4978f8cf;
  text-decoration: underline;
  cursor: pointer;
}

.discountText:hover {
  color: #4977f8;
}

.close {
  color: #0c0b0b;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 10000;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.multiline-cell {
  white-space: pre-wrap;
}

.heading h1,
p {
  margin: 0px;
}

.table th {
  background-color: #4977f8;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.table ul li {
  list-style: none;
}

.delete-button {
  color: red;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #20b2aa;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 3px;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}

.submit-btn:active {
  scale: 0.9;
}

.cancle-button {
  padding: 10px 20px;
  margin: 0px 5px;
  background-color: #f09064;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 3px;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}

.cancle-button:active {
  scale: 0.9;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-container .create a {
  text-decoration: none;
  color: #fff;
}

.btn-container .create a,
.excle-btn button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  border: none;
  gap: 10px;
  font-weight: 500;
  outline: none;
  overflow: hidden;
  font-size: 18px;
}

.excle-btn button {
  background-color: seagreen;
  padding: 10px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.btn-container .create a:hover,
.excle-btn button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.btn-container.create a:hover .icon,
.excle-btn button:hover .icon {
  transform: translate(4px);
}

.btn-container .create a:hover::before,
.excle-btn button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btn-container .create a::before,
.excle-btn button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.table th {
  background-color: #4977f8;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.delete-button {
  color: red;
}
